__pycache__
__pycache__/
checkpoints
checkpoints/
deps
deps/
experiments
experiments/
experiments_1
experiments_1/
results
results/
visualize
visualize/
wandb
wandb/
slurm/job
slurm/job/
slurm/out
slurm/out/

*.csv
*.zip
*.png