__pycache__
__pycache__/
**/__pycache__/
*.py[cod]
checkpoints
checkpoints/
deps
deps/
experiments
experiments/
experiments_1
experiments_1/
results
results/
visualize
visualize/
wandb
wandb/
**/wandb/
slurm/job
slurm/job/
slurm/out
slurm/out/
data
data
*.csv
*.zip
*.png
events.out.tfevents.*
*_output.txt
*_error.txt
smux-*.out
smux-*.err
plan.md
diffuser_v2/eval_reports/
diffuser_v2/log/
diffuser_v2/outputs/
mymodel/tools/output/
mymodel/tools/*.npy
npz_result/
